.hero {
	position: relative;
	width: 100%;
	max-width: 1512px;
	padding: 24px;
	z-index: 3;
	display: flex;
	flex-direction: column;
	/* gap: 24px; */
	align-items: center;
	justify-content: center;
/* 	margin-right: auto;
	margin-left: auto; */
}

@media screen and (min-width: 768px) {
	.hero {
		align-items: start;
		justify-content:start;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.hero {
		max-width: 1020px;
		padding-left: 24px;
		padding-top: 48px;
		padding-right: 24px;
		padding-bottom: 48px;
		background: url(../images/hero/pattern.png), url(../images/hero/girl.png);
		background-repeat: no-repeat, no-repeat;
		background-size: contain, 500px auto;
		background-position: 300px 0, 450px 130px;
	}
}
@media screen and (min-width: 1024px) {
	.hero {
		max-width: 1512px;
		height: 658px;
		padding-left: 156px;
		padding-top: 60px;
		padding-right: 156px;
		padding-bottom: 60px;
		background: url(../images/hero/pattern.png), url(../images/hero/girl.png);
		background-repeat: no-repeat, no-repeat;
		background-size: contain, 622px auto;
		background-position: 300px 0, 450px 0;
	}
}
/* 
.grid-container {
	display: grid;
	grid-template-columns: auto;
	place-items: center;
	
}

@media screen and (min-width: 768px) {
	.grid-container {

		grid-template-columns: 1fr 1fr;
		row-gap: 0;
		place-items: start;
	}


	.grid-item-1 {
		grid-column: 1 / span 2;
		margin-bottom: 64px;
	}


	.grid-item-2 {
		grid-column: 1;
		align-self: start;
		margin-bottom: 40px;
	}


	.grid-item-3 {
		grid-column: 2;
		margin-left: 40px;

	}

	
	.grid-item-4 {
		grid-column: 1;

	}
}
 */
